.product-card {
	box-sizing: border-box;
	height: 100%;
	padding: 15px;
	background: #fff;
	display: flex;
	flex-direction: column;
}

.product-card__img {
	display: flex;
	align-items: center;
	background: #fff;
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.product-card__img > img {
	display: block;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 250px;
	margin: 0 auto;
	object-fit: cover;
}

.product-card__price {
	font-size: 20px;
	font-weight: 700;
	margin: 20px 0 0 0;
}

.product-card__name {
	font-size: 18px;
	margin: 10px 0 0 0;
}

.product-card-actions {
	display: flex;
	flex-grow: 1;
	width: 100%;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 25px;
}

.product-card-actions > button {
	width: 49%;
}
