.product-grid {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin: 15px auto;
	padding: 0 7.5px;
	width: 100%;
}

.product-grid > .product-grid__col {
	box-sizing: border-box;
	padding: 0 7.5px;
	padding-bottom: 15px;
	width: 20%;
}

@media only screen and (max-width: 1400px) {
	.product-grid > .product-grid__col {
		width: 25%;
	}
}

@media only screen and (max-width: 1200px) {
	.product-grid > .product-grid__col {
		width: 33.33333%;
	}
}

@media only screen and (max-width: 840px) {
	.product-grid > .product-grid__col {
		width: 50%;
	}
}
@media only screen and (max-width: 600px) {
	.product-grid > .product-grid__col {
		width: 100%;
	}
}
