.page-container {
	display: block;
	position: relative;
	padding: 0 15px;
	margin: 15px 0;
	min-height: 50px;
}

.page-container__cart {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0 15px;
}

.page-container__form {
	max-width: 500px;
	margin: 0 auto;
}

@media only screen and (max-width: 840px) {
	.page-container__form {
		max-width: 100%;
		padding-top: 65px;
	}
}
