body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #e6e6e6;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.btn {
	border-radius: 0;
	padding: 0.75em 1em;
	font-size: 14px;
	font-weight: 600;
	transition: 0.3s;
	cursor: pointer;
}

.btn--primary {
	border: rgb(187, 0, 0) solid 2px;
	border-radius: 0;
	padding: 0.75em 1em;
	font-size: 14px;
	font-weight: 600;
	background: rgb(187, 0, 0);
	color: #fff;
}

.btn--primary:hover,
.btn--primary:focus {
	background: rgb(158, 0, 0);
	border: rgb(158, 0, 0) solid 2px;
}

.btn--outline {
	border: rgb(187, 0, 0) solid 2px;
	background: #fff;
	color: rgb(187, 0, 0);
}

.btn--outline:hover,
.btn--outline:focus {
	background: rgb(187, 0, 0);
	color: #fff;
}

.btn--primary:active,
.btn--outline:active {
	background: rgb(136, 0, 0);
	border: rgb(136, 0, 0) solid 2px;
	color: #fff;
}

.form-input {
	font-size: 16px;
	margin: 5px 0 0 0 !important;
	padding: 0.375em;
	border-radius: 3px;
	border: solid 1px #999;
	box-shadow: none;
	outline: none;
}

.form-input:focus {
	border: solid 2px rgb(0, 113, 241);
}
